/*
 * This file is part of the CarMultimediaSystem package.
 * (c) Alexander Lukashevich <aleksandr.dwt@gmail.com>
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

[camera-tab] {
	flex-grow: 10;
	height: 0;

	div {
		display: flex;
		justify-content: center;
		height: 100%;
	}

	img {
		display: block;
		height: inherit;
	}
}