/*
 * This file is part of the CarMultimediaSystem package.
 * (c) Alexander Lukashevich <aleksandr.dwt@gmail.com>
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

.player-explorer {
	flex-grow: 10;
	border: 2px solid #e7e7e7;
	position: relative;
	border-radius: 2vmin;

	> section {
		padding-left: 1%;
		padding-top: 1%;
		padding-right: 2%;
		position: absolute;
		top: 0;
		bottom: 0;
		transition: width 0.2s;

		* {
			transition: opacity 0.2s;
		}
	}

	[explorer] {
		border-right: 2px solid #e7e7e7;
		width: 7%;

		&.active {
			width: 93%;
			ul, .panel-paging {
				opacity: 1;
			}
			.panel-label {
				opacity: 0;
			}
		}

		ul, .panel-paging {
			opacity: 0;
		}
	}

	[playlist] {
		right: 0;
		width: 93%;
		overflow: hidden;

		&.inactive {
			width: 7%;
			ul, .panel-paging {
				opacity: 0;
			}
			.panel-label {
				opacity: 1;
			}
		}

		.panel-label {
			opacity: 0;
		}
	}

	.panel-label {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			font-size: 6vmin;
			transform: rotate(90deg) scale(-1, -1);
		}
	}

	.name-block {
		margin-left: 1%;
		margin-right: 1%;
		overflow: hidden;
		//width: 100%;
		z-index: 1;
		flex-grow: 1;

		span {
			white-space: nowrap;
			font-size: 6vmin;
			min-width: 0;
		}

		&.file-name-block {
			p {
				white-space: nowrap;

				&:first-of-type {
					font-size: 4vmin;
				}
			}
		}
	}

	.explorer-row {
		height: 100%;
		display: flex;
		align-items: center;
		//font-size: 6vmin;
		margin-bottom: 0.5%;

		&.active {
			background-color: #d9d9d9;

			.play-file-icon {
				visibility: hidden;
			}
		}

		&.delete-process {
			.info-block, .name-block {
				width: 0;
				overflow: hidden;
			}
			.actions-block {
				width: 100%;

				> div:not(.delete-block) {
					display: none;
				}

				.delete-block {
					display: flex;
				}
			}
		}
	}

	.info-block {
		height: 100%;
		position: relative;
		margin-top: -2vmin;
		//width: 10.5vmin;
		font-size: 9vmin;

		[class^=glyphicon] {
			top: auto;
			font-size: inherit;
		}
	}

	.dir-badge {
		color: #FFF;
		position: absolute;
		top: 35%;
		font-size: 50%;
		width: 100%;
		text-align: center;

		&.length-badge {
			color: #000;
			top: 37%;
			font-size: 40%;
		}
	}

	.actions-block {
		display: flex;
		justify-content: flex-end;

		> div:not(.delete-block) {
			padding: 0 2vmin;
			display: flex;
			align-items: center;
		}
		span {
			font-size: 8vmin;
		}
		.delete-block {
			align-items: center;
			display: none;

			> * {
				padding: 0 2vmin;
			}
		}
	}

	.panel-paging {
		position: absolute;
		bottom: 0;
		left: 1%;
		right: 2%;
		display: flex;
		justify-content: center;
		align-items: center;

		.show-only-files {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			color: grey;
			display: flex;
			align-items: center;

			span {
				display: block;
			}

			&.active {
				color: #000;
			}
		}

		.select-playlist {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			color: #000;
			display: flex;
			align-items: center;

			span {
				display: block;
			}

			p {
				font-size: 4vmin;
			}
		}

		span[class^='glyphicon'] {
			top: 0;
		}
	}

	.playlist-menu {
		display: none;
		background-color: #FFF;
		border: 2px solid #e7e7e7;
		border-radius: 2vmin;
		width: 30%;
		position: absolute;
		right: 0;
		bottom: 1vmin;

		&.active {
			display: block;
		}

		ul {
			display: flex;
			font-size: 5vmin;

			&:first-of-type {
				li {
					border-bottom: 1px solid #e7e7e7;
				}
			}

			li {
				border-right: 1px solid #e7e7e7;
				text-align: center;
				display: block;
				width: 20%;

				&:last-of-type {
					border-right: none;
				}

				&.active {
					background-color: #e7e7e7;
					color: #555;
				}
			}
		}
	}

	.show-current-track-icon {
		padding-right: 3vmin;
	}
}

