/*
 * This file is part of the CarMultimediaSystem package.
 * (c) Alexander Lukashevich <aleksandr.dwt@gmail.com>
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

#gps-info-block {
	float: left;
	width: 35%;
	margin: 2%;
	border-radius: 2vmin;
	border: 2px solid #e7e7e7;
	padding: 1%;
	overflow: hidden;
	font-size: 3.5vmin;

	> div:first-child {
		width: 20%;
		float: left;

		p {
			text-align: right;
		}
	}

	> div:last-child {
		width: 80%;
		float: right;

		p {
			text-align: center;
		}
	}
}