/*
 * This file is part of the CarMultimediaSystem package.
 * (c) Alexander Lukashevich <aleksandr.dwt@gmail.com>
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

* {
	cursor: default !important;
	border: none;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}

button {
	outline: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
	min-width: 770px;
	min-height: 460px;

	&.black {
		background-color: #000;
	}

	> div {
		padding: 0.3%;
		justify-content: center;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}

#video-background {
	flex-grow: 10;
}

span[class^='glyphicon'] {
	top: 0.1vmin;
	font-size: 4vmin;
	position: relative;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
}

nav {
	ul {
		border: 2px solid #e7e7e7;
		border-radius: 2vmin;
		display: flex;
		font-size: 5vmin;
		line-height: 10vmin;
		color: #777;
		width: 100%;
		margin-top: 0.3%;

		li {
			flex-grow: 1;
			text-align: center;
			border-right: 2px solid #e7e7e7;

			&:last-child {
				border-right: none;
			}

			&.active {
				background-color: #e7e7e7;
				color: #555;
			}
		}
	}
}

[paging] {
	display: flex;
	align-items: center;

	span {
		display: block;
		font-size: 6vmin;
		padding: 0 3vmin;
	}

	p {
		font-size: 5vmin;
		text-align: center;
	}
}

.app-loader {
	position: fixed;
	width: 100%;
	top: 50%;
	text-align: center;
}

.clicked {
	transform: scale(1.2);

	&.clicked-transition {
		transition: 0.15s all !important;
	}
}

.underline-inset {
	span {
		box-shadow: 0px -2px 0 0 #000 inset;
	}
}

.changed-color {
	color: #777 !important;
}

.display-none {
	display: none !important;
}

// all tabs common style
.common-tab {
	flex-grow: 10;
	border: 2px solid #e7e7e7;
	position: relative;
	border-radius: 2vmin;
}

// two-row common status block
.two-row-status-block {
	width: 35%;
	margin: 2%;
	border-radius: 2vmin;
	border: 2px solid #e7e7e7;
	padding: 1%;
	overflow: hidden;

	p {
		font-size: 3.5vmin;
		line-height: 4.5vmin;
	}

	.left-block {
		width: 20%;
		float: left;

		p {
			text-align: right;
		}
	}

	.right-block {
		width: 80%;
		float: right;

		p {
			text-align: center;
		}
	}
}
