/*
 * This file is part of the CarMultimediaSystem package.
 * (c) Alexander Lukashevich <aleksandr.dwt@gmail.com>
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

#player {
	border: 2px solid #e7e7e7;
	margin-top: 0.3%;
	height: 32%;
	width: 100%;
	transition: height 0.2s;
	position: relative;
	border-radius: 2vmin;

	* {
		transition: opacity 0.2s;
	}

	&.minimized {
		height: 10%;
		> div:first-child {
			p {
				display: block;
				height: 100%;
				line-height: 190%;
				opacity: 1;
			}
			span {
				top: 20%;
				&:before {
					content: "\e093";
				}
			}
		}
		> div:last-child * {
			opacity: 0;
		}
	}

	/*
	* Minimize button
	*/
	> div:first-child {
		position: absolute;
		width: 100%;
		height: 100%;

		p {
			text-align: center;
			opacity: 0;
			font-size: 5vmin;
		}

		span {
			position: absolute;
			left: 1%;
			top: 2%;
			z-index: 10;
		}
	}

	> div:last-child {
		height: 100%;

		> div {
			height: 100%;
			/*
			* Buttons
			*/
			&:first-child {
				float: left;
				width: 25%;
				display: flex;
				justify-content: center;

				> div {
					align-self: center;
					width: 100%;
					z-index: 10;

					> div {
						text-align: center;
						width: 100%;
						/*
						* Play button
						*/
						&:first-of-type {
							margin-bottom: 5%;

							button {
								width: 11vmin;
								height: 11vmin;
								border-radius: 11vmin;

								&.playing {
									span {
										&:before {
											content: "\e073";
										}
									}
								}
							}
						}
						/*
						* Other buttons
						*/
						&:last-of-type {
							button {
								width: 9vmin;
								height: 9vmin;
								border-radius: 9vmin;

								&:nth-of-type(2) {
									margin: 0 4%;
									width: 13vmin;
								}
							}
						}
					}
				}
			}

			/*
			* Additional Buttons
			*/
			&:nth-child(2) {
				float: left;
				width: 5%;
				display: flex;
				justify-content: space-around;
				flex-direction: column;

				div {
					text-align: center;

					&:first-of-type {
						padding-top: 10%;
					}

					&:last-of-type {
						padding-bottom: 10%;
					}

					span {
						color: grey;
						font-size: 4vmin;

						&.active {
							color: #000;
						}
					}
				}
			}

			/*
			* Track info
			*/
			&:last-child {
				float: right;
				width: 70%;
				display: flex;
				justify-content: center;

				> div {
					overflow: hidden;
					align-self: center;
					width: 90%;

					h2 {
						white-space: nowrap;
						font-size: 3vmin;
					}

					h1 {
						white-space: nowrap;
						font-size: 5vmin;
					}

					.progress {
						height: 3vmin;
						margin: 0.5% 0;
						position: relative;
						z-index: 10;
					}

					> p {
						font-size: 3vmin;

						&:first-of-type {
							float: left;
						}

						&:last-of-type {
							float: right;
						}
					}
				}
			}
		}
	}
}