/*
 * This file is part of the CarMultimediaSystem package.
 * (c) Alexander Lukashevich <aleksandr.dwt@gmail.com>
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

#recorder-status-block {
	position: relative;

	.status {
		color: darkred;

		&.active {
			color: green;
		}
	}
}

.recorder-action-btn {
	top: 0;
	right: 0;
	position: absolute !important;
	font-size: 5vmin;
	padding: 2vmin;
	display: block !important;
	border: 2px solid #e7e7e7;
	border-right: 0;
	border-top: 0;
}
